
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/
.pagecontainer {
  margin: auto;
  width: 100vw;
}

header {
  background: #000000;
  padding: 3rem;
  text-align: center;
  width: 100vw;
  height: 40vw;
  font-size: 3em;

}

h1{
  font-family:'Poppins', sans-serif;
  font-weight:700;
font-size: 2.3em;
color:#ffffff;

}

/*Unordered list in the navbar is set to display flex with wrapping
so at smaller size-mobile width--it wraps vertically in a row
and at larger screen widths it spreads more horizontally.
And justify-content centers flex blox content*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;


}
/*Sets background color of nav list elements and their width and height*/
nav ul li {
  background: #f5f5f0;
  height: 2rem;
  width: 36rem;
  padding-top: 1rem;
  border-color:#a2c3c3 ;
  border:groove;
  border-width: 1px;
  text-align: center;

}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: 400;


}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
  background: #c3c3a2;

}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  background:  #f5f5f0;
}

h2{
  font-family:'Poppins', sans-serif;
text-align: center;
font-size: 2em;
color: #4e4e32;

}


article {
  padding-left: 5rem;
  padding-right: 67rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  font-weight:300;





}

footer {
  background: #000000;
  padding: 2rem;
  text-align: center;
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
  font-style: italic;

}
