

body {
  margin: 120px;
  padding-bottom: 30%;
}

.logo img {
  width:87vw;
  position: relative;
  right: 22%;

}
.me img{
  width: 80vw;
  position: relative;
  right: 55.5%;
}

.greenbox img{
width: 90vw;
display: block;
margin-right: auto;
margin-right: auto;
position: relative;
right: 70%;

}

.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;



}

.topnav a {
  font-family: 'Montserrat', sans-serif;
  float: right;
  color: #999999;
  font-weight: 400;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: .9em;
}


.topnav a:hover {
   background-color:white;
  color: black;
}

.grid-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto ;
  background-color: white ;
  padding: 5%;
  grid-row-gap:10%;
  width: 88vw;
  height: 70vw;
  position: relative;
  float: none;
  right: 73%;}

.design-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto ;
  background-color: white ;
  padding: 5%;
  grid-row-gap:10%;
  width: 88.5vw;
  height: 70vw;
  position: relative;
  float: none;
  right: 63%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, , 0, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;
  width:10vw


}


.imagebox{
  background: white;
}


		img {
			width: 100%;
      height: 100%;
		}


.aboutbox{
font-family: 'Montserrat', sans-serif;
width: 245%;
position: relative;
right: 70%;

}
.awardbox{
font-family: 'Montserrat', sans-serif;
width: 245%;
position: relative;
right: 70%;


}

/*****Responsive for Larger Screens*******/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/

.me img{
  width: 25vw;
  height: 20vw;
  position: absolute;
  left: 20%;


}

.aboutbox{
font-family: 'Montserrat', sans-serif;
width: 30vw;
position:  relative;
left: 53%;
top: 30%;

}
.awardbox{
  font-family: 'Montserrat', sans-serif;
  width: 30vw;
  position: relative;
  left: 53%;
bottom: -60px;

}

.grid-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto ;
  background-color: white ;
  padding: 5%;
  grid-row-gap:10%;
  width: 61vw;
  height: 70vw;
  position: relative;
  float: none;
  left: 10%;
}

.design-container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: auto auto ;
  background-color: white ;
  padding: 5%;
  grid-row-gap:10%;
  width: 60vw;
  height: 70vw;
  position: relative;
  float: none;
  left:11%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, , 0, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;


}


.topnav {
  display: inline;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  float: right;
right: 12.5%;
position: relative;
top:-55px;



}
.logo img {
  width:30%;
  position: relative;
  left:15%;
}
.greenbox img{
width:70%;
position: relative;
left: 15%;

}



}
